img {
    max-height: 100%;
    width: auto;
}

.responsive-text {
    font-size: 200%;
}

.id-container {
    min-width: 50px;
    text-align: center;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    display: inline;
    text-align: center;
}

/* color of types */
.bg-type-normal {
    background-color: #a8a77a;
    background: linear-gradient(to top, #a8a77a 50%, white 50%);
    color: #fff;
}

.bg-type-fire {
    background-color: #ee8130;
    background: linear-gradient(to top, #ee8130 50%, white 50%);
    color: #fff;
}

.bg-type-water {
    background: linear-gradient(to top, #6390f0 50%, white 50%);
    color: #fff;
}

.bg-type-electric {
    background-color: #f7d02c;
    background: linear-gradient(to top, #f7d02c 50%, white 50%);
    color: #fff;
}

.bg-type-grass {
    background-color: #7ac74c;
    background: linear-gradient(to top, #7ac74c 50%, white 50%);
    color: #fff;
}

.bg-type-ice {
    background-color: #96d9d6;
    background: linear-gradient(to top, #96d9d6 50%, white 50%);
    color: #fff;
}

.bg-type-fighting {
    background-color: #c22e28;
    background: linear-gradient(to top, #c22e28 50%, white 50%);
    color: #fff;
}

.bg-type-poison {
    background-color: #a33ea1;
    background: linear-gradient(to top, #a33ea1 50%, white 50%);
    color: #fff;
}

.bg-type-ground {
    background-color: #e2bf65;
    background: linear-gradient(to top, #e2bf65 50%, white 50%);
    color: #fff;
}

.bg-type-flying {
    background-color: #a98ff3;
    background: linear-gradient(to top, #a98ff3 50%, white 50%);
    color: #fff;
}

.bg-type-psychic {
    background-color: #f95587;
    background: linear-gradient(to top, #f95587 50%, white 100%);
    color: #fff;
}

.bg-type-bug {
    background-color: #a6b91a;
    background: linear-gradient(to top, #a6b91a 50%, white 50%);
    color: #fff;
}

.bg-type-rock {
    background-color: #b6a136;
    background: linear-gradient(to top, #b6a136 50%, white 50%);
    color: #fff;
}

.bg-type-ghost,
.bg-type-shadow {
    background-color: #735797;
    background: linear-gradient(to top, #735797 50%, white 50%);
    color: #fff;
}

.bg-type-dragon {
    background-color: #6f35fc;
    background: linear-gradient(to top, #6f35fc 50%, white 50%);
    color: #fff;
}

.bg-type-dark {
    background-color: #705746;
    background: linear-gradient(to top, #705746 50%, white 50%);
    color: #fff;
}

.bg-type-steel {
    background-color: #b7b7ce;
    background: linear-gradient(to top, #b7b7ce 50%, white 50%);
    color: #fff;
}

.bg-type-fairy {
    background-color: #d685ad;
    background: linear-gradient(to top, #d685ad 50%, white 50%);
    color: #fff;
}

.bg-type-unknown {
    background: linear-gradient(to top, #aaa 50%, white 50%);
    color: #fff;
}
